body{
    font-size: 12px;
    font-family: "Noto Sans",Helvetica,Arial,"微軟正黑體","新細明體",sans-serif;
    letter-spacing: 0.1em;
}

.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}

.p_fix{
    position: fixed;
}

.d_flex{
    display: flex;
}

.d_block{
    display: block;
}

.d_inlineblock{
    display: inline-block;
}

.decoration_none{
    text-decoration: none;
}

.black{
    color: #fff;
    font-size: 0.95rem;
    font-weight: 900;
    transition: all 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.black:hover{
    color:#0051ff;
    transform: translateY(-3px);
}

.white{
    color: #fff;
}

.green{
    color: #00dca6;
}

.yellow{
    color:#f8bd01;
}

.gold{
    color: #ddc891;
}

.pointer{
    cursor: pointer;
}

/*              */
.go-top {
    width: 38px;
    height: 38px;
    position: fixed;
    bottom: 55px;
    right: 25px;
    z-index: 101;
    cursor: pointer;
}

header{
    width: 100%;
    max-height: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
}

header img{
    width: 100%;
    height: auto;
}

.menu_btn{
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    padding: 15px;
    background: rgba(30,30,30,0.3);
    right: 0;
    top: 0;
}

.ico{
    width: 20px;
    height: 20px;
    background: url(image/menu.png) no-repeat;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* .title{
    display: flex;
    justify-content: flex-end;
}

.title li{
    margin: 0 10px;
} */

header h1{
    padding: 12px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 10;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
}

@media (max-width: 780px){
    header{
        height: auto;
    }

    header h1{
        font-size: 1.8rem;
    }
}

@media (max-width: 500px){
    header h1{
        font-size: 1.25rem;
    }
}

/*        */

.breadcrumb{
    background: #000;
    height: 54px;
    border-bottom: 1px solid #333;
}

.inner{
    height: 100%;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.inner a.black{
    padding: 0 20px;
}

.title{
    /* width: 100%; */
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.b_right{
    height: 38px;
    line-height: 38px;
    padding: 1px 20px;
    margin: 0 20px;
    background: #023ec4;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    transition: 0.22s;
}

.b_right:hover{
    background: #0051ff;
}

@media (max-width: 992px){
    .inner{
        justify-content: flex-end;
    }

    .title{
        display: none;
    }
}

/*      */

section{
    padding: 80px 0;
    text-align: center;
}

#section_1{
    max-width: 100vw;
    overflow: hidden;
    padding: 0;
    text-align: center;
    position: relative;
}

.wrapper{
    margin:0 auto;
    max-width: 1903px;
  }
  /* ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
  } */
  .transition{
    transition:all .5s;
    -webkit-transition: all .5s;
  }
  ul.slides{
    /*width: 3200px;*/
    /* max-width: 100vw; */
    left:0;
    transition: all .5s;
    position: relative;
    left: 0;
    display: flex;
  }
  ul.slides li{
    max-width: 100vw;
    height:auto;
    overflow: hidden;
    float: left;
  }
  ul.slides li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .page{
    position: absolute;
    bottom:25px;
    width:100%;
    display: flex;
    justify-content: center;
  }
  .page li{
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    margin: 0 5px;
    width:20px;
    height: 20px;
  }
  .page li:hover, .page li.active{
    background: rgba(0, 0, 0, .9);
  }
  /* .dir_btn{
    position: absolute;
    top:50%;
    margin-top: -12px;
    color: rgba(0, 0, 0, .5);
    z-index: 10;
    font-size: 28px;
    opacity: .5;
    cursor: pointer;
  }
  .dir_btn:hover{
    opacity: .8;
    text-decoration: none;
    color:rgba(0, 0, 0, .8);
  }
  .glyphicon-chevron-left{
    left:20px; 
  }
  .glyphicon-chevron-right{
    right:20px; 
  } */

/* .info{
    padding: 80px 0
} */

.top{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
}

.top img{
    width: 100%;
    height: auto;
}

.bold{
    margin-bottom: 20px;
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 34px;
}

.light{
    color: #666;
    font-size: 1rem;
    line-height: 30px;
}
@media (max-width: 1050px){
    .page{
        bottom: 10px;
    }

    /* .page li{
        width: 15px;
        height: 15px;
    } */
}

@media (max-width: 768px){
    .page{
        bottom: 5px;
    }

    .page li{
        width: 15px;
        height: 15px;
    }
}

/*         */
.index_con2{
    /* background: #f5f5f5; */
    background-image: url(image/index-con-bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* background: #000; */
    max-width: 100vw;
    overflow: hidden;
}

.index_con2 img{
    max-width: 1200px;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}
@media (max-width: 992px){
    #section_2{
        padding: 0;
    }
}

/*         */
.p_expenses{
    padding: 15px 30px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
}

.program{
    width: 60%;
    margin: 0 auto;
}

.l_head, .r_head{
    width: 50%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-right: none;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 55px;
}

.border_r{
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.t_head, .m_head,.t_body{
    width: 100%;
    background: rgb(29, 29, 29);
    border-top: 1px solid rgba(255, 255, 255, .2);
    /* border-left: 1px solid rgba(255, 255, 255, .2); */
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 55px;
}

.t_head,.t_body{
    border-bottom: none;
}

.m_head{
    background: #333;
    font-size: 1rem;
}

.t_body{
    background: transparent;
    font-size: 1rem;
}

.p_select{
    background: #222;
}

/* .p_1{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
} */

.b_select{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.bg{
    width: 70%;
    height: 75%;
    font-size: 1.2rem;
    background: #023ec4;
    border-radius: 20px;
    /* box-shadow: 2px 2px 6px rgba(0,0,0,.20); */
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px){
    .program{
        flex-wrap: wrap;
        justify-content: center;
    }

    .l_head, .r_head{
        width: 100%;
    }

    .l_head{
        border-right: 1px solid rgba(255, 255, 255, .2);
        margin-bottom: 50px;
    }
}


/*         */
.index_con3{
    /* width: 100%;
    height: auto; */
    padding: 50px 15%;
    background-image: url(image/index-con-bg3.jpg);
    /* background: #000; */
    background-attachment: fixed;
    background-size: cover;
    /* border-top: 1px solid #e2e2e2; */
    justify-content: center;
    text-align: center;
    
}

@media (max-width: 576px){
    .index_con3{
        background-image: url(image/index-con-bg2.jpg);
    }
}

/* .index_con3 div,
.index_con3 h3{
    background-image: url(image/gold.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.winner{
    padding: 15px 30px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
    /* margin-bottom: 20px; */
}

.con2_bg{
    width: 100%;
    height: auto;
}

.area{
    /* position: relative;
    z-index: 10; */
    width: 33.3%;
    margin: 20px 20px;
}

.area p{   
    text-align: left;
}

.column{
    justify-content: center;
}

.border{
    width: 1px;
    height: auto;
    background: rgba(0,0,0,.20);
}

.item{
    padding: 15px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    /* color: #000; */
    /* background: rgba(2,62,196,.9); */
}

.line{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: rgba(0,0,0,.20);
    /* display: block; */
}

.contect{
    font-size: 1rem;
    line-height: 30px;  
    /* color: #666; */
}

@media (max-width: 992px){
    .column{
        flex-wrap: wrap;
    }

    .area{
        width: 100%;
    }

    .line{
        display: none;
    }
}

/*  */
.index-con4{
    /* background-image: url(image/index-con-bg2.jpg); */
    background: #111;
    background-attachment: fixed;
    background-size: cover;
    /* border-top: 1px solid #e2e2e2; */
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.index-con4 span{
    width: 100%;
}

.notice_t{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 40px;
}

.notice_b{
    color: #ddd;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 40px;
}

.area_b{
    width: 100%;
    flex-wrap: wrap;
}

.index-con4 .area_b{
    flex-wrap: wrap;
    justify-content: center;
}


.item_down{
    background: #ed0038;
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
}

.index-con4 .area_b span{
    color: #ddd;
    font-size: 1rem;
    line-height: 30px;
}

.line2{
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background: rgba(255,255,255,.2);
}

.qr{
    margin: 20px 0;
}

@media (max-width: 880px){
    #section_5{
        padding: 80px;
    }
}

/*  */

footer{
    background: #000;
    padding: 15px 0;
}

.inner_b{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;;
    justify-content: center;
    align-items: center;
}

.contact{
    color: #666;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.contact img{
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
}

.inner_b span{
    color: #fff;
}